# dependencies
node_modules/

# logs
logs
*.log
npm-debug.log*

# environment variables
.env

# build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# editor files
.vscode/
.idea/

# coverage
coverage/

# temporary files
tmp/
temp/

/package-lock.json